<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sergey Shpadyrev</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="icon" type="image/ico" href="favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
</head> 
<body>
	<header class="header">
		<div class="container">
			<div class="header__blog">
				<div class="column column-text">
					<div class="header__area header__area-img">
						<img src="1.png" alt="" class="header__img">
					</div>
					<div class="header__area">
						<div class="header__content">
							<h1 class="header__title">Sergey Shpadyrev</h1>
							<div class="header__text">I'm a software developer writing about programming languages, frameworks and libraries, developer tools, software architecture, continuous delivery, testing, development processes and many other things</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="blog">
		<div class="container">
			<div class="blog__article">
				<a href="" class="back">Back</a>
				<h2 class="blog__title">Building continuous deployment process</h2>	
				<article class="article">
					<h3 class="article__title">rum voluptatibus</h3>
					<img src="rsz_integ.jpg">
					<div class="article__text">
						<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident distinctio minus officia, nostrum voluptatibus delectus neque facere! Recusandae aliquid placeat illum saepe, quam quia quibusdam fugit incidunt nobis, sint pariatur.</span>
						<a href="" class="article__text-link"> temporibus</a></p>
						<ul class="article__text-list">
							<li class="article__text-list-item"> temporibus</li>
							<li class="article__text-list-item"> temporibus</li>
							<li class="article__text-list-item"> temporibus</li>
							<li class="article__text-list-item"> temporibus</li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere velit quis consequatur distinctio cum tenetur eius, nihil architecto expedita recusandae a accusantium numquam totam, possimus nostrum repellat placeat obcaecati itaque.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere velit quis consequatur distinctio cum tenetur eius, nihil architecto expedita recusandae a accusantium numquam totam, possimus nostrum repellat placeat obcaecati itaque.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere velit quis consequatur distinctio cum tenetur eius, nihil architecto expedita recusandae a accusantium numquam totam, possimus nostrum repellat placeat obcaecati itaque.</p>
					</div>
				</article>
			</div>	
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="footer__blog">
				<div class="column column-link">
					<div class="footer__subtitle">Contact me:</div>
					<div class="footer__contacts">
						<a href="" class="footer__info">GitHub</a> 
						<div class="footer__info">sergeyshpadyrev@gmail.com</div>
					</div>
				</div>	
				<div class="column column-link">	
					<div class="footer__subtitle">Follow me:</div>
					<div class="footer__contacts">
					<a class="footer__info" href="">RSS</a>
					<form action="" class="form">
						<input name="email" type="email" class="input" placeholder="enter your email">
						<button class="button">Subscribe</button>
					</form>
					 
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="scrollToTop"></a>
	</footer>
</body>
<script src="js/jquery-1.12.1.min.js"></script>
<script src="js/main.js"></script>
