body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	color: #302c23;
}
a {
	color: #302c23;
	border-bottom: 1px solid;
	text-decoration: none;
}
a:hover {
	border: none;
}
p {
	margin: 0 0 20px;
}
img {
	width: 100%;
	vertical-align: top;
	margin-bottom: 20px;
}
button:focus,
input:focus {
	outline: none;
}
.clearfix() {
    &:after {
        content: "";
        clear: both;
        display:block;
    }
}
.container {
	max-width: 940px;
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.footer {
	border-top: 1px solid #f5f3f4;
	padding: 40px 0;
	margin-top: 40px;
	position: relative;
	&__blog {
		.clearfix();
	}
	&__subtitle {
		font-size: 1em;
    	font-weight: 400;
    	line-height: 1.5em;
	}
	&__info {
		font-size: 0.8em;
		margin-bottom: 5px;
		&:last-child {
			padding-bottom: 5px;
		}
	}
	&__contacts {
		border-left: 1px solid #b6bcc1;
	    color: #665a5a;
	    margin: 10px 0 0 10px;
	    padding-left: 10px;
	}
}
.column {
	&-text {
		width: 60%;
		margin: 0 auto;
	}
	&-link {
		width: 50%;
		float: left;
	}
}
.header {
	padding: 30px 0 20px;
	border-bottom: 1px solid #f5f3f4;
	&__blog {
		.clearfix();
	}
	&__area {
		float: left;
		width: 69%;
		box-sizing: border-box;
		padding-left: 20px;
		&-img {
			width: 30%;
			padding-left: 0;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 169px;
				height: 169px;
				border: 1px solid #f5f3f4;
				top: -12px;
				right: 10px;
				z-index: -1;
			}
		}
	}
	&__img {
		margin-bottom: 0;
	}
	&__content {
		margin-top: 10px;
	}
	&__title {
		font-size: 2em;
    	font-weight: 400;
    	margin: 0;
	}
	&__subtitle {
		font-size: 1.5em;
    	font-weight: 600;
    	line-height: 1.5em;
	}
	&__info {
		font-size: 0.9em;
	}
	
	&__text {
		font-size: 0.82em;
	    margin-top: 10px;
	    padding-left: 10px;
	    border-left: 1px solid #b6bcc1;
	    color: #665a5a;
	    line-height: 1.55em;
	}
}
.article {
	padding-bottom: 30px;
	margin-bottom: 30px;
	&__text {
		font-size: 1em;
    	line-height: 1.8em;
	}
	&__img {
		width: 100%;
		&-link {
			display: block;
			border-bottom: none;
		}
	}
	&__title {
		font-size: 1.3em;
		margin: 0 0 15px;
		font-weight: 400;
	}
	&__button {
		text-align: center;
	}
	&__more {
		text-align: center;
		border: 1px solid #665a5a;
		padding: 10px 20px;
		min-width: 100px;
		background: transparent;
		cursor: pointer;
		display: inline-block;
		&:hover {
			background-color: #f5f3f4;
		}
	}
}
.input {
	width: 50%;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    &:focus {
    	border: 1px solid #b6bcc1;
    	padding: 6px;
    }
}
.button {
	background: #9ecfe7;
    border: 1px solid #9ecfe7;
    padding: 6px 10px;
    cursor: pointer;
    &:hover {
    	background-color: #91bfd6;
    }
}
.blog {
	&__title {
		font-weight: 400;
		margin-bottom: 40px;
		margin-top: 0;
	}
	&__article {
		margin-top: 50px;
	}
}
.scrollToTop{
	width:25px; 
	height:25px;
	padding:10px;  
	font-weight: bold;
	color: #444;
	position:absolute;
	top:43px;
	right:40px;
	display:none;
	background: url('img/arrow.png') no-repeat 50% 50%;
	border: 1px solid #b6bcc1;
}
.scrollToTop:hover{
	border: 1px solid #665a5a;
}
.back {
	font-weight: 600;
	border-bottom: 2px solid;
	margin-bottom: 20px;
    display: inline-block;
    font-size: 1.2em;
    &:before {
    	content: "";
    	background: url('img/arrow_left.png') no-repeat 50% 50%;
    	width: 15px;
    	height: 15px;
    	display: inline-block;
    	margin-right: 5px;
    }
    &:hover {
    	border-bottom: 2px solid transparent;
    }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
	.container {
		width: 96%;
		padding: 0;
	}
	.column {
		&-text {
			width: 80%;
			margin: 0 auto;
		}
	}
	.scrollToTop {
    	top: -60px;
    }
    .header__area {
		&-img {
			&:before {
				content: none;
			}
		}
	}	
}
@media screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 96%;
		padding: 0;
	}
	.column {
		&-text {
			width: 100%;
			margin: 0 auto;
		}
	}
	.header__area {
		&-img {
			&:before {
				content: none;
			}
		}
	}
	.scrollToTop {
    	top: -60px;
    }
}
@media screen and (min-width: 480px) and (max-width: 590px) {
	.container {
		width: 96%;
		padding: 0;
	}
	.column {
		&-text {
			width: 100%;
			padding-left: 0;
		}
	}
	.header {
		padding: 0 0 20px;
		&__area {
			width: 100%;
			padding-left: 0;
			&-img {
				display: none;
			}
		}	
	}	
}
@media screen and (max-width: 479px) {
	.container {
		width: 96%;
		padding: 0;
	}
	.column {
		&-text {
			width: 100%;
			margin: 0 auto;
		}
		&-link {
			width: 100%;
			float: none;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 50px;
			}
		}
	}
	.header {
		padding: 0 0 20px;
		&__area {
			width: 100%;
			padding-left: 0;
			&-img {
				display: none;
			}
		}		
	}
	.scrollToTop {
    	width: 96%;
	    height: 40px;
	    box-sizing: border-box;
	    margin: 0 auto;
	    position: absolute;
	    display: block;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    top: initial;
    }
    .footer {
	    padding: 40px 0 5px;
	    margin-bottom: 10px;
	}
}