body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  color: #302c23;
}
a {
  color: #302c23;
  border-bottom: 1px solid;
  text-decoration: none;
}
a:hover {
  border: none;
}
button:focus,
input:focus {
  outline: none;
}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.footer {
  border-top: 1px solid #f5f3f4;
  padding: 40px 0;
  margin-top: 40px;
}
.footer__blog {
  display: inline-flex;
  width: 100%;
}
.footer__subtitle {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
}
.footer__info {
  font-size: 0.8em;
  margin-bottom: 5px;
}
.footer__info:last-child {
  padding-bottom: 5px;
}
.footer__contacts {
  border-left: 1px solid #b6bcc1;
  color: #665a5a;
  margin: 10px 0 0 10px;
  padding-left: 5px;
}
.column-text {
  width: 60%;
  margin: 0 auto;
}
.column-link {
  width: 50%;
}
.header {
  padding: 30px 0 20px;
  border-bottom: 1px solid #f5f3f4;
}
.header__blog {
  display: inline-flex;
}
.header__area {
  float: left;
  width: 69%;
  box-sizing: border-box;
  padding-left: 20px;
}
.header__area-img {
  width: 30%;
  padding-left: 0;
  position: relative;
}
.header__area-img:before {
  content: '';
  position: absolute;
  width: 169px;
  height: 169px;
  border: 1px solid #f5f3f4;
  top: -12px;
  right: 10px;
  z-index: -1;
}
.header__content {
  margin-top: 10px;
}
.header__img {
  width: 100%;
  vertical-align: top;
}
.header__title {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
.header__subtitle {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
}
.header__info {
  font-size: 0.9em;
}
.header__text {
  font-size: 0.82em;
  margin-top: 10px;
  padding-left: 10px;
  border-left: 1px solid #b6bcc1;
  color: #665a5a;
  line-height: 1.55em;
}
.article {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.article__text {
  font-size: 1em;
  line-height: 1.8em;
}
.article__img {
  width: 100%;
}
.article__title {
  font-size: 1.2em;
  margin: 0 0 15px;
  font-weight: 400;
}
.article__button {
  text-align: center;
}
.article__more {
  text-align: center;
  border: 1px solid #665a5a;
  padding: 10px 20px;
  min-width: 100px;
  background: transparent;
  cursor: pointer;
  display: inline-block;
}
.article__more:hover {
  background-color: #f5f3f4;
}
.input {
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.input:focus {
  border: 1px solid #b6bcc1;
  padding: 6px;
}
.button {
  background: #9ecfe7;
  border: 1px solid #9ecfe7;
  padding: 6px 10px;
  cursor: pointer;
}
.button:hover {
  background-color: #91bfd6;
}
.blog__title {
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 0;
}
.blog__article {
  margin-top: 50px;
}
